<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.gdgtresrios.centrosulnegocios">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <activity android:name=".controller.activity.EventoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity android:name=".controller.activity.BuscaEventoActivity"
            android:label="@string/eventoactivity_title">
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.activity.EventoActivity" />
        </activity>

        <activity android:name=".controller.activity.ColaboradorActivity">
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity android:name=".controller.activity.BuscaColaboradorActivity"
            android:label="@string/colaboradoractivity_title">
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.activity.ColaboradorActivity" />
        </activity>
        <activity android:name=".controller.activity.VisualizarEvento">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.activity.EventoActivity" />
        </activity>

        <activity android:name=".controller.activity.VisualizarColaborador">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controller.activity.ColaboradorActivity" />
        </activity>

    </application>

</manifest>
