<ion-view view-title="Centro Sul Negócios - 2015">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">O que é?</div>
      <div class="item item-body">
        <div>
          O maior encontro de negócios do Centro Sul do Estado do Rio de Janeiro. Reunindo as maiores empresas da região.
        </div>
      </div>
    </div>
      
    <div class="list card">
      <div class="item item-divider">Local do evento</div>
      <div class="item item-body">
        <div>
          O maior encontro de negócios do Centro Sul do Estado do Rio de Janeiro. Reunindo as maiores empresas da região.
        </div>
      </div>
    </div>
      
  </ion-content>
</ion-view>
